chest_Xray
definitions.csv
/src/notebooks/cnn_initial_weights.weights.h5
/src/notebooks/cnn_model_trained.h5
/src/notebooks/cnn_model_trained.json
/src/notebooks/cnn_model_trained.weights.h5
/src/notebooks/cnn_model.json
/src/notebooks/cnn_trained_model.json
/src/notebooks/cnn_trained_weights.weights.h5
/src/notebooks/training_history.npy
/src/notebooks/cnn_tuned_model.h5
/src/notebooks/tuned_training_history.npy